#countLabel{
    display: block;
    text-align: center;
    font-size: 20rem;
}

button{
    font-weight: bolder;
}


#btndiv{
   display: block;
   text-align: center;
   font-size: 20rem;
}